%reset {
    padding: 0;
    margin: 0;
}

$bar-height: 40px;

%container-row-padding {
    $padding-width: 10px;
    padding-left: $padding-width;
    padding-right: $padding-width;
}

$row-padding-margin-width: 5px;

%container-col-padding {
    padding-top: $row-padding-margin-width;
    padding-bottom: $row-padding-margin-width;
}

%row-margin {
    margin-top: $row-padding-margin-width;
    margin-bottom: $row-padding-margin-width;
}

%fill-container {
    width: 100%;
    height: 100%;
}

%text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$theme-blue: #409EFF;

$border-width: 1px;